.authentication-page {
  background-color: $dark-gray;
  min-height: 100vh;
}

.authentication {
  width: 500px;
  margin: 60px auto;
}

.authentication__content {
  background: $white;
  padding: 20px;
}

.authentication__form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 40px auto;
}

.authentication__btn {
  align-self: center;
}

.authentication__helper-text {
  margin: 10px auto !important;

  text-align: center !important;
}