.column {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column__title {
  font-size: 28px;
  color: $white;
  text-transform: uppercase;
  text-align: center;
}