.column {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column:nth-child(2) {
  border-left: 1px solid $blue;
  border-right: 1px solid $blue;
}

.column__title {
  font-size: 28px;
  color: $white;
  text-transform: uppercase;
  text-align: center;
}