.header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;

  color: $white;

  background-color: $gray;
}

.header__logo {
  width: 40px;
  height: 40px;
  fill: $white;
}

.header__name {
  text-transform: uppercase;
  color: $white;
  font-size: 23px;
}
