.task-name {
  width: 85%;
  margin: 20px auto;
}

.task-name__inner {
  padding: 15px 10px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-name__top {
  display: flex;
  align-items: center;
}

.task-name__text,
.task-name__select {
  margin: 0 50px;
}