@import './variables.scss';
    
@import './components/app';
@import './components//board';
@import './components/column';
@import './components/header'; 
@import './components/task-name';
@import './components/card-detail'; 
@import './components/add-task.form';

body {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}